.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-info {
  background-color: #4e8885;
  width: 100%;
  color: #f5f5f5;
}
.personal-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 5px;
  max-width: 375px;
  margin: auto;
}
.personal-div {
  display: flex;
  justify-content: start;
  background-color: #ffffff20;
  padding: 15px 30px;
  width: 80%;
  max-width: 260px;
  border-radius: 10px;
}
.personal-icons {
  display: flex;
  align-items: center;
}
.fa-xs{
  font-size: 1em;
}
.personal-content {
  padding: 0 20px;
  font-size: 14px;
}
.languages {
  padding: 20px 20px 10px;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lang-skill-container {
  display: flex;
  gap: 40px;
}
.lang-skill-porcent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.lang-skill {
  display: flex;
}
.skills {
  padding: 0px 20px;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.h2-languages-skills{
  font-size: 20px;
}
.lang-skill-porcent{
  font-size: 13.5px;
}
.me {
  padding: 15px 20px;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.me-links-ul {
  display: flex;
  gap: 20px;
  margin: auto;
}
.me-links-a {
  padding: 12px;
  display: flex;
  background-color: #ffffff20;
  border-radius: 100%;
}
.me-links-a:hover {
  background-color: #ffffff40;
  transition: 0.4s;
  box-shadow: 0 0 5px 4px #fff;
}
.me-links-icons {
  color: #fff;
  display: inline-table;
}
.download-cv {
  background-color: #ffffff20;
  padding: 15px 50px;
  max-width: 200px;
  color: #fff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
}
.download-cv:hover {
  background-color: #ffffff40;
  transition: 0.4s;
  transform: translateY(-2px);
  box-shadow: 0 0 10px 4px #fff;
}
.download-h4 {
  margin: 0 10px 0 0;
}
.download-icon {
  width: 20px;
  height: 20px;
}
.about-education-experience {
  color: #00000090;
  width: 100%;
  background-color: #cde7eb80;
}
.about-me {
  margin: auto;
  max-width: 320px;
}
.h2-about {
  padding: 15px 0 0 0;
  font-size: 24px;
  color: #003e37;
}
.p-about {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.h3-about {
  color: #003e37;
  font-size: 20px;
  padding: 10px 0 0 0;
}
.period{
  font-size: 13px;
}
.education,
.experience {
  margin: auto;
  max-width: 320px;
  padding-bottom: 30px;
}
.education-container,
.experience-container {
  margin: 20px 0 0 0;
  box-shadow: 0 0 10px 5px #00000020;
  border-radius: 10px;
}
.education-container-header,
.experience-container-header {
  background-color: rgba(14, 107, 168, 0.467);
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  position: relative;
}
.education-h3-period,
.experience-h3-period {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.h4-about {
  color: #003e37;
  font-size: 16px;
  padding: 10px 0 0 0;
}
.education-container-content,
.experience-container-content {
  padding: 15px;
  color: #131212;
  position: relative;
}
.h5-about {
  font-size: 14px;
}
.education-tecnologies-ul,
.experience-tecnologies-ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 12px;
}
.experience-tasks-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  color: #2e2e2e;
  padding: 0 0 10px 0;
}
.experience-tasks-span{
  font-size: 12px;
}
.experience-tasks-ul{
  margin: 5px 0 0;
}
.education-img,
.experience-img {
  width: 30px;
  height: 30px;
  right: 5px;
  top: 15px;
  position: absolute;
}
.education-img img, .experience-img img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

@media (min-width: 768px) {
  .about{
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
    max-width: 1800px;
    margin: auto;
  }
  .about::before{
    content: "";
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #4e8885;
  }
  .personal-info {
    max-width: 240px;
    position: sticky;
    top: 60px;
  }
  .personal-data {
    padding: 20px 0px 0px;
    max-width: 200px;
  }
  .personal-div {
    padding: 12px 25px;
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    gap: 10px;
  }
  .fa-xs {
    font-size: 0.85rem;
  }
  .personal-content {
    padding: 0;
    font-size: 12px;
  }
  .languages {
    max-width: 200px;
    padding: 0px 20px 10px;
  }
  .lang-skill-container {
    font-size: 12px;
  }
  .lang-skill-porcent {
    gap: 10px;
  }
  .skills {
    max-width: 200px;
    padding: 15px 20px;
  }
  .h2-languages-skills {
    font-size: 16px;
  }
  .me {
    max-width: 200px;
    padding: 15px 20px 12px;
  }
  .me-links-ul {
    gap: 10px;
  }
  .me-links-a {
    padding: 10px;
  }
  .download-cv {
    max-width: 130px;
    padding: 8px 40px;
    margin: 10px auto 30px;
  }
  .download-h4 {
    font-size: 10px;
  }
  .download-icon {
    width: 20px;
    height: 20px;
  }
  .about-me {
    max-width: 500px;
    padding: 10px 50px 30px;
  }
  .h2-about {
    font-size: 22px;
    padding-top: 5px;
  }
  .p-about {
    font-size: 14px;
  }
  .h3-about {
    padding-top: 5px;
    font-size: 20px;
  }
  .education,
  .experience {
    max-width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  .education-container,
  .experience-container {
    margin-top: 10px;
    height: 90%;
    padding-bottom: 10px;
  }
  .education-container-header,
  .experience-container-header {
    padding: 10px 25px;
    position: relative;
  }
  .education-h3-period,
  .experience-h3-period {
    gap: 0;
  }
  .period {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
  }
  .h4-about {
    font-size: 16px;
    padding-top: 5px;
  }
  .education-container-content,
  .experience-container-content {
    padding: 20px 25px 15px;
  }
  .h5-about {
    font-size: 16px;
  }
  .education-tecnologies-ul,
  .experience-tecnologies-ul {
    gap: 3px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 15px;
    color: #00000090;
  }
  .education-tecnologies-span,
  .experience-tasks-span,
  .experience-tecnologies-span {
    font-size: 12px;
  }
  .education-img,
  .experience-img {
    width: 30px;
    height: 30px;
    right: 5px;
    top: 17px;
  }
  .education-img img,
  .experience-img img {
    width: 25px;
    height: 25px;
  }
  .experience-tasks-ul {
    margin-top: 5px;
    margin-bottom: 0;
    color: #00000090;
  }
}

@media (min-width: 1024px) {
  .about {
  }
  .personal-info {
  }
  .personal-data {
  }
  .personal-div {
  }
  .personal-icons {
  }
  .personal-content {
  }
  .languages {
  }
  .lang-skill-container {
  }
  .lang-skill-porcent {
  }
  .lang-skill {
  }
  .skills {
  }
  .h2-languages-skills {
  }
  .me {
  }
  .me-links-ul {
  }
  .me-links-a {
  }
  .me-links-a:hover {
  }
  .me-links-icons {
  }
  .download-cv {
  }
  .download-cv:hover {
  }
  .download-h4 {
  }
  .download-icon {
  }
  .about-education-experience {
  }
  .about-me {
  }
  .h2-about {
  }
  .p-about {
  }
  .h3-about {
  }
  .education,
  .experience {
  }
  .education-container,
  .experience-container {
  }
  .education-container-header,
  .experience-container-header {
  }
  .education-h3-period,
  .experience-h3-period {
  }
  .period {
  }
  .h4-about {
  }
  .education-container-content,
  .experience-container-content {
  }
  .h5-about {
  }
  .education-tecnologies-ul,
  .experience-tecnologies-ul {
  }
  .education-tecnologies-span,
  .experience-tasks-span,
  .experience-tecnologies-span {
  }
  .education-img,
  .experience-img {
  }
  .education-img img {
  }
  .experience-tasks-ul {
  }
  .experience-img {
  }
  .experience-img img {
  }
}
