header {
  width: 100%;
  height: 60px;
  background-color: #363636;
  position: fixed;
  z-index: 2;
}
.navbar {
  margin: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6b6b6b;
  box-shadow: 10px -50px 0px 50px #363636;
  box-sizing: border-box;
  background-color: #363636;
}
.h2-navbar {
  color: #e2e2e2;
  font-family: "Playwrite IS", cursive;
}
.nav-section {
  display: none;
}
.nav-links {
  position: absolute;
  right: 60px;
  display: flex;
}
.nav-links a {
  padding: 0 10px;
  color: #b9b9b9;
}
.nav-links a:hover {
  color: #34b7a7;
  transition: .4s;
}
.list {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}
.lines {
  display: block;
  height: 22px;
  width: 28px;
  top: 19px;
  right: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #b9b9b9;
  z-index: 3;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line2 {
  transition: transform 0.2s ease-in-out;
}
.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.toggle {
  background-color: #363636;
  height: 200px;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  padding: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  position: absolute;
  z-index: -1;
}
.toggle a {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #b9b9b9;
  z-index: 1;
}
.toggle a:hover {
  color: #34b7a7;
}
.list:checked ~ .toggle {
  transform: translateY(5%);
}
.list:checked ~ .lines .line1 {
  transform: rotate(45deg);
}
.list:checked ~ .lines .line2 {
  transform: scaleY(0);
}
.list:checked ~ .lines .line3 {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .navbar {
    margin: 0 40px;
  }
  .nav-links {
    right: 80px;
  }
  .lines {
    right: 45px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    margin: 0 60px;
  }
  .nav-section {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-section a {
    color: #b9b9b9;
    padding: 10px 5px;
  }
  .nav-section a:hover {
    color: #34b7a7;
    transition: 0.5s;
  }
  .nav-links {
    position: relative;
    right: 0;
  }
  .nav-section-mobile {
    display: none;
  }
}
