body{
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5 ,h6, p{
    margin: 0;
}

/* HEADER */
header{

}
.navbar{

}
.h2-navbar{

}
.nav-section{

}
.nav-section a:hover{
    
}
.nav-links{

}
.nav-links a:hover{

}
.icons-navbar{

}
.icons-navbar:hover{

}
.nav-section-mobile{

}
.list{

}
.lines{

}
.line{

}
.line1{

}
.line2{

}
.line3{

}
.toggle{

}
